body {
	background:grey;
	font-family: Open Sans;
	margin-left: 50px;
}

h1 {
	color:white;
	text-align:left;
	font-family: Lobster;
	font-size: 90px;
	margin: 0px;
	margin-left: 100px;

}

p {
	color:white;
	margin:0px;
	padding-bottom: 10px;
}

hr {
	margin-top: 0px;
}

.units{
    width:200px;
	height:100px;
	text-align: center;
	display: inline-block;
	margin:0px;
}

#unit1 {
	background:salmon;
}

#unit2 {
	background:#FFB347;
}

#unit3 {
	background:#779ECB;
}

#unit4 {
	background:#F49AC2;
}


img {
	float:right;
	display:inline;
}