body{
	background-image: url("assets/background.jpg")
}

img{
	width:200px;
	margin: 200px auto;
	display: block;
}

p{
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	color: white;
	font-size: 20px;
	margin-top: 130px;
}
