body {
	background:grey;
	background-image:url("Assets/stripes.png"), url("Assets/background.jpg");
	background-repeat: repeat-x, no-repeat;
	margin:0px;
}

hr{
	margin:0px;
	width:50px;
	border-color:salmon;
}

h1 {
	padding-top: 200px;
}
p{
	color:white;
	font-size: 18px;
	font-family: Ubuntu;
}

a{

}

.centered {
	margin-left: 250px;
	border:1px;
}

