* {
	margin: 0;
	border: none;
	text-decoration: none;
	outline: none;
}

#sectionA1 {
	background: url('assets/background.jpg');
	height: 90vh;
	width:100%;
	margin:0 0 0 0;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	background-repeat:no-repeat;
}

#sectionA2 {
	height:40vh;
	width:100%;
}

#mission {
	background: url('assets/mission.jpg');
	width:100%;
	height: 100vh;
	margin:0 0 0 0;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	background-repeat:no-repeat;
}

nav {
	height:5vh;
	width:100%;
	margin:0 0 0 0;
	display:block;
	background-color: #2D3E50;
}

.menubuttons li {
	background-color: #2D3E50;
	font-size:.75em;
	float:left;
	display:inline;
	font-family: 'Raleway', sans-serif;
	line-height: 5vh;
	margin: 0 2em 0 2em;
	text-decoration: none;
}

ul {
	margin:0;
}

.socialmediaicons li {
	list-style-type: none;
	/*How to apply responsive design*/
}

.socialmediaicons img {
	height:1.4em;
	display:inline;
	float:right;
	line-height: 4.1vh;
	margin: .2em .2em 0 .2em;
}

#sectionA1 h1 {
	text-align: center;
	color:white;
	padding-top: 3em;
	/*Not sure how to vertically align*/
	font-size:4em;
	margin:0 0 0 0;
}

#sectionA2 h1 {
	color:black;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding-top: .25em;
	font-size:1em;
}

h2 {
	padding:1em 0 1em 0;
	text-align:center;
}

#missionquestion {
	color:white;
	vertical-align: middle;
	float:left;
	margin:5em 0 0 2em;
}

#missionquestion h1 {
	display:block;
	font-size:2.5em;
	text-align: left;
	clear:right;
}

#missionquestion p {
	font-size:1.5em;
	display:block;
}

.button {
	text-align: center;
	margin: 0 auto 0 auto;
}

button {
	color:white;
	font-size:.75em;
	border: .1em solid #a1a1a1;
	background:#2d3e50;
    width:10em;
    font-family: 'Raleway';
    display: block;
}

.cf {
	width:100%;
	height:150px;
	display:block;
	float:left;
	margin: 0 auto 0 auto;
}

.cf img {
	width:300px;
	display: block;
	margin: 50px auto 0 auto;
}
#cf1 {
	background:#FDB813;
	margin-top: 30px 10px 0 10px;
}

#cf2 {
	background:#62C2CC;
	margin-top: 20px 10px 0 10px;
}

#cf2 img {
	width:150px;
}

#cf3 {
	background:#0C445C;
	margin-top: 30px 10px 0 10px;
}

nav a:link {
	color:white;  
	text-decoration: none;
}

nav a:visited {
    text-decoration: none;
    color:white;
}

nav a:hover {
    text-decoration: underline;
}

nav .menubuttons li:hover {
	background-color: grey;
}

nav a:active {
    text-decoration: underline;
}

@media only screen and (max-width:600px) {
	ul {
		width:100%;
	}
}